{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>bciit news project</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/bciit.css' %}">
</head>
<body>

            <div class="jumbotron" >
                <h1 class="top_section">
                    WECOME TO BCIIT NEWS PORTAL<br>
                   
                </h1>
        
            <div class="jumbotron">
            <div class="hero_buttons">

                <a class="btn btn-primary btn-lg" href="/student/" role="button">Students</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="btn btn-primary btn-lg" href="/faculty/" role="button">Faculty</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="btn btn-primary btn-lg" href="/event/" role="button">Event</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="btn btn-primary btn-lg" href="/enquiry/" role="button">Enquiry</a>&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            </div>
            </div>

</body>
</html>
