{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>bciit news project</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/bciit.css' %}">
</head>
<body>
    <div class ="enquiry-page">
    <div class="enquiry-container">

    <h2>ENQUIRY FORM</h2>

    <hr>

    <form method="post">

        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit" class="btn btn-success w-100">

            Submit

        </button>

    </form>

</div>
    <div class="custom_bg">
    <a class="btn btn-primary btn-lg" href="/" role="button">
    Back to Home Page
    </a>
    </div>
    </form>
   
</body>
</html>
